.Card{
    width: 600px;
    height: 500px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid #e9e9e9;
    box-shadow: 0 8px 6px -6px #808080;
    background-color: white;
}

.ImageBox {
    height: 300px;
}

.ImageBox > img {
    width: 600px;
    max-height: 100%;
}

.projectLabel {
    height: 40px;
    color: white;
    font-family: helvetica;
    font-size: 20px;
    font-weight: 600;
    background-color: #4682b4;
    text-align: center;
    padding-top: 20px;
}

.projectDescription {
    height: 40px;
    font-family: helvetica;
    font-size: 16px;
    margin-left: 20px;
    padding-top: 20px;
}

.CardFooter {
    display: flex;
    margin-left: 20px;
}

.CardFooter img {
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

button {
    width: 90px;
    height: 45px;
    border: none;
    background-color: #4682b4;
    color: white;
    font-family: helvetica;
    font-size: 16px;
    float: right;
    position: relative;
    bottom: 45px;
    right: 30px;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(to right, #73C3FB, #4682b4);
}

@media (max-width: 700px)  {
    .Card {
        width: 280px;
    }

    .ImageBox {
        height: 280px;
    }

    .ImageBox > img {
        width: 280px;
    }

    .projectDescription {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 13px;
    }

    .CardFooter {
        margin-left: 20px;
    }

    .CardFooter img {
        width: 30px;
        height: 30px;
    }

    button {
        width: 60px;
        height: 30px;
        bottom: 0;
        top: 20px;
    }
}


