.TypeForNoReason {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.TypeForNoReason p {
    text-align: center;
    margin: 0;
}

@media (max-width: 1200px) {
    .ChartThree {
        display: none;
    }
}

@media (max-width: 750px) {
    .TypeForNoReason {
        margin-left: 15%;
    }

    .ChartOne {
        display: none;
    }
}