.TopNav {
    width: 100%;
    height: 40px;
    position: fixed;
    top: 0;
    background-color: #73C3FB;
    display: flex;
    z-index: 90;
}

.TopNav div { 
    color: white;
    font-family: Helvetica;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    flex: 1; 
}

.TopNav div:hover {
    background-color: #4682b4;
    color: white;
}
