.ProjectOverview {
    width: 20%;
    float: left;
    background-color: white;
    box-shadow: 0 8px 6px -6px #808080;
}

.ProjectOverview .Label {
    height: 30px;
    text-align: center;    
    font-family: helvetica;
    font-size: 14px;
    padding: 10px;
    border-bottom: 1px solid #939393;
}

.ProjectOverview .LabelInfo {
    height: 50px;
}